---
stages:
  - build
buildTesting:
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint: [""]
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > ~/.docker/config.json
  script:
    - |
      buildctl-daemonless.sh build \
        --frontend dockerfile.v0 \
        --local context="$CI_PROJECT_DIR" \
        --local dockerfile="$CI_PROJECT_DIR" \
        --output type=image,name=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA,push=true
  rules:
    - if: '$CI_COMMIT_BRANCH == "testing"'
buildProduction:
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint: [""]
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > ~/.docker/config.json
  script:
    - |
      buildctl-daemonless.sh build \
        --frontend dockerfile.v0 \
        --local context="$CI_PROJECT_DIR" \
        --local dockerfile="$CI_PROJECT_DIR" \
        --output type=image,name=$CI_REGISTRY_IMAGE:latest,push=true
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
